// Colors
$label-colour: #6d757e;
$disabled-colour: #a0a6ab;
$toggle-colour: #44a545;
$white: #fff;

// Sizes
$toggle-width: 14px;
$switch-no-right: 45px;
$switch-yes-right: 5px;
$switch-width: 75px;
$switch-height: 26px;
$line-height: 26px;

.toggle-switch {
    position: relative;
    width: $switch-width;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    &-checkbox {
        display: none;
    }
    &-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 0 solid $label-colour;
        border-radius: 20px;
        margin: 0;
    }
    &-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: $switch-height;
            padding: 0;
            line-height: $line-height;
            font-size: 12px;
            color: white;
            font-weight: bold;
            box-sizing: border-box;
        }
        &:before {
            content: attr(data-yes);
            // text-transform: uppercase;
            text-transform: capitalize;
            padding-left: 10px;
            background-color: $toggle-colour;
            color: $white;
        }
    }
    &-disabled {
        background-color: $disabled-colour;
        cursor: not-allowed;
        &:before {
            background-color: $disabled-colour;
            cursor: not-allowed;
        }
    }
    &-inner:after {
        content: attr(data-no);
        // text-transform: uppercase;
        text-transform: capitalize;
        padding-right: 10px;
        background-color: $label-colour;
        color: $white;
        text-align: right;
    }
    &-switch {
        display: block;
        width: $toggle-width;
        margin: 5px;
        background:$white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: $switch-no-right;
        border: 0 solid $label-colour;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
        .toggle-switch-inner {
            margin-left: 0;
        }
        .toggle-switch-switch {
            right: $switch-yes-right;
        }
    }
    &.small-switch {
        width: 40px;
        .toggle-switch-inner {
            &:after,
            &:before {
                content: "";
                height: 20px;
                line-height: 20px;
            }
        }
        .toggle-switch-switch {
            width: 16px;
            right: 20px;
            margin: 2px;
        }
    }

    @media screen and (max-width: 991px) {
        transform: scale(0.9);
    }
    @media screen and (max-width: 767px) {
        transform: scale(0.825);
    }
    @media screen and (max-width: 575px) {
        transform: scale(0.75);
    }
}
